/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }


.graph-main-div{
    width:80%;
    margin:auto;
    display:flex;
    flex-direction:column;
}

.bubble-main-div{
  align-items:center;
}

.own-graph{
    display: grid;
    border-left: #000 solid 4px;
    border-bottom: #000 solid 4px;    
}

.center-graph{
  padding:2rem;
  border: #e6e6e6 solid 4px;
  border-radius: 4rem;
}

.bar-graph-bar{
    border: #006600 solid 2px;
    background-color:#8cff66;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1em;
}

#bar-graph-x-axis{
    display:flex;
}

.bar-graph-x-axis-span{
    color: #006600;
    font-size:1.2em;
    text-align:center;
    margin-top:2vh;
}

.area-graph-bar{
  border-top: #006600 solid 2px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:1em;
}

h2{
    color: #006600;  
    text-align:center;
}

.bubble{
  border-radius:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.pink{
  background-color: #ff66cc;
} 

.orange{
  background-color: #ff9933;
} 

.green{
  background-color:#8cff66;
} 

.yellow{
  background-color: #ffff00;
} 

.blue{
  background-color: #3399ff;
}

.area-graph-all{
  display:flex;
  flex-direction:row-reverse;
  align-items:center;
  justify-content:space-around;
}

#area-graph-legend{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  min-width:10rem;
}

.area-graph-legend-span{
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 2rem;
  width:100%;
}

.background-with-border{
  border: 0.1rem solid #fff;
}
