:root {
    --main-bg-color: #f3d2c1;
    --secondary-bg-color: #8bd3dd;
    --tertiary-bg-color: #f5b0ca;
    --main-text-color: #001858;
    --main-highlight-color: #fef6e4;
    --button-bg-color: #f582ae;
    --elements-bg-color: #fef6e4;
    --elements-headline-color: #001858;
}

* {
    box-sizing: border-box;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    color: var(--main-text-color);
    background: var(--main-bg-color);
    overflow: hidden;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 6%;
    width: 100%;
    background: var(--main-bg-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 84%;
    width: 100%;
    background: var(--elements-bg-color);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4%;
    width: 100%;
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
}

/* header styles */
/* header styles */

/* main animations */
/* main animations */

/* main styles */
section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    border: 0.1rem solid var(--elements-headline-color);
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    height: 100%;
    border-right: 0.1rem solid var(--elements-headline-color);
    background: var(--tertiary-bg-color);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    gap: 0.2rem;
}

.menu button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    color: var(--elements-headline-color);
    font-size: 1rem;
    background: var(--button-bg-color);
    padding: 0.5rem 0.5rem 0.5rem .5rem;
    border: 0.1rem solid var(--elements-headline-color);
    cursor: pointer;
}

.menu button:hover {
    height: 3.5rem;
    font-weight: bold;
    color: var(--button-bg-color);
    background: var(--elements-headline-color);
}

.menu .buttonSelected {
    border-right: none;
    background: var(--elements-bg-color);
    margin-right: -0.1rem;
    width: calc(100% + 0.6rem);
    z-index: 1;
}

.tab {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    height: 100%;
    background: var(--elements-bg-color);
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
}

.charts-css {
    width: 100%;
    height: 100%;
}

/* main styles */

/* footer styles */
/* footer styles */