:root {
    --main-bg-color: #f3d2c1;
    --secondary-bg-color: #8bd3dd;
    --tertiary-bg-color: #f5b0ca;
    --main-text-color: #001858;
    --main-highlight-color: #fef6e4;
    --button-bg-color: #f582ae;
    --elements-bg-color: #fef6e4;
    --elements-headline-color: #001858;
}

* {
    box-sizing: border-box;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    color: var(--main-text-color);
    background: var(--main-bg-color);
    overflow: hidden;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 6%;
    width: 100%;
    background: var(--main-bg-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 84%;
    width: 100%;
    background: var(--elements-bg-color);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4%;
    width: 100%;
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
}

/* header styles */
/* header styles */

/* main animations */
/* main animations */

/* main styles */
section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    border: 0.1rem solid var(--elements-headline-color);
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    height: 100%;
    border-right: 0.1rem solid var(--elements-headline-color);
    background: var(--tertiary-bg-color);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    gap: 0.2rem;
}

.menu button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    color: var(--elements-headline-color);
    font-size: 1rem;
    background: var(--button-bg-color);
    padding: 0.5rem 0.5rem 0.5rem .5rem;
    border: 0.1rem solid var(--elements-headline-color);
    cursor: pointer;
}

.menu button:hover {
    height: 3.5rem;
    font-weight: bold;
    color: var(--button-bg-color);
    background: var(--elements-headline-color);
}

.menu .buttonSelected {
    border-right: none;
    background: var(--elements-bg-color);
    margin-right: -0.1rem;
    width: calc(100% + 0.6rem);
    z-index: 1;
}

.tab {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    height: 100%;
    background: var(--elements-bg-color);
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    gap: 1rem;
}

.tab table {
    width: 100%;
    height: 95%;
}

.tab ul {
    width: 100%;
    height: 5%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
}

.tab ul li {
    line-height: 0 !important;
    height: fit-content;
}

.charts-css {
    width: 100%;
    height: 100%;
}

#labelsColumnsGraph {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    border: none;
}

#tBodyColumnsGraph {
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

#tabColumnGraph .column {
    --labels-size: 5rem;
}

.tBodyColumScope {
    font-size: 0.75rem;
    font-weight: 100;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(-180deg);
    /* letter-spacing: 0.075rem; */
}


#tBodyBarGraph {
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

#labelsBarGraph {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    border: none;
}

.tBodyBarScope {
    font-size: 0.75rem;
    font-weight: 100;
}


#tabMixedGraph {
    display: none;
    align-items: center;
    justify-items: center;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 85% 5%;
    grid-template-areas:
        "data-1-axis  stocks       data-2-axis"
        "data-1-axis  volume       data-2-axis"
        "primary-axis primary-axis primary-axis";
}

#tabMixedGraph>table.area,
#tabMixedGraph>table.line {
    grid-area: stocks;
}

#tabMixedGraph>table.column {
    grid-area: volume;
}

#tabMixedGraph>.primary-axis {
    grid-area: primary-axis;
}

#tabMixedGraph>.data-1-axis {
    grid-area: data-1-axis;
    writing-mode: tb-rl;
    transform: rotateZ(180deg);
}

#tabMixedGraph>.data-2-axis {
    grid-area: data-2-axis;
    writing-mode: tb-rl;
}



#labelsColumns3DGraph {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    border: none;
}

#tBodyColumns3DGraph {
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

#tabColumnGraph3D .column {
    --labels-size: 5rem;
}

#tabColumnGraph3D tbody td {
    margin-inline-start: 10px;
    margin-inline-end: 20px;
}

#tabColumnGraph3D tbody td:before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    width: 100%;
    height: 10px;
    transform: skewX(-45deg);
    transform-origin: top;
    background-color: lightgrey;
}

#tabColumnGraph3D tbody td:after {
    content: '';
    position: absolute;
    top: -4px;
    right: -10px;
    width: 10px;
    height: 100%;
    transform: skewY(-45deg);
    transform-origin: top;
    background-color: lightgrey;
}


#tBodyLineGraph {
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

#labelsLineGraph {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    border: none;
}

.tBodyLineGraph {
    font-size: 0.75rem;
    font-weight: 100;
}
/* main styles */

/* footer styles */
/* footer styles */


/* Spinner */
.spinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
}

.spinner:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.spinner:not(:required) {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.spinner:not(:required):after {
    content: '';
    display: block;
    font-size: 30px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 24, 88, 0.75) 1.5em 0 0 0, rgba(0, 24, 88, 0.75) 1.1em 1.1em 0 0, rgba(0, 24, 88, 0.75) 0 1.5em 0 0, rgba(0, 24, 88, 0.75) -1.1em 1.1em 0 0, rgba(0, 24, 88, 0.5) -1.5em 0 0 0, rgba(0, 24, 88, 0.5) -1.1em -1.1em 0 0, rgba(0, 24, 88, 0.75) 0 -1.5em 0 0, rgba(0, 24, 88, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 24, 88, 0.75) 1.5em 0 0 0, rgba(0, 24, 88, 0.75) 1.1em 1.1em 0 0, rgba(0, 24, 88, 0.75) 0 1.5em 0 0, rgba(0, 24, 88, 0.75) -1.1em 1.1em 0 0, rgba(0, 24, 88, 0.75) -1.5em 0 0 0, rgba(0, 24, 88, 0.75) -1.1em -1.1em 0 0, rgba(0, 24, 88, 0.75) 0 -1.5em 0 0, rgba(0, 24, 88, 0.75) 1.1em -1.1em 0 0;
}


/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Spinner */


/* estilos pop up info and error*/
.errorBody {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #FF0000;
    background-color: #061B2B80;
}

.errorContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 25%;
    color: #FF0000;
    background-color: #FFFFFF;
    border: 0.1em solid #FF0000;
    padding: .5em .5em .5em .5em;
    margin: 1em 1em 1em 1em;
    box-shadow: 0px 0px 1em #FF0000;
}

.errorCloseButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FF0000;
    font-size: 0.875em;
    border: solid 0.1em #FF0000;
    background-color: #e4e9f0;
    padding: 0.3em 1em 0.3em 1em;
    cursor: pointer;
    box-shadow: 2px 2px #061B2B;
}

.errorCloseButton:hover {
    background-color: #061B2B;
    color: #FFFFFF;
}


.infoBody {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #061B2B;
    background-color: #061B2B80;
}

.infoContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 35%;
    color: #061B2B;
    background-color: #FFFFFF;
    border: 0.1em solid #00C1DE;
    padding: .5em .5em .5em .5em;
    margin: 1em 1em 1em 1em;
    box-shadow: 0px 0px 1em #00C1DE;
}

.infoCloseButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #00C1DE;
    font-size: 0.875em;
    border: solid 0.1em #00C1DE;
    background-color: #e4e9f0;
    padding: 0.3em 1em 0.3em 1em;
    cursor: pointer;
    box-shadow: 2px 2px #061B2B;
}

.infoCloseButton:hover {
    background-color: #061B2B;
    color: #FFFFFF;
}

/* estilos pop up info and error*/


/* Hide and show components by css */
.hideDisplay {
    display: none;
}

.showFlexDisplay {
    display: flex;
}

.showVisibilityDisplay {
    visibility: visible;
}